// Import page-specific CSS files here.
@import "home";
@import "signin";
@import "show";
@import "profile";


.site-container {
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 1;
}


