@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.sign-in, h2 {
  background-color: white;
  width: 50vw;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

h2 {
  width: 100%;
}

a.btn {
  font-size: 1.2rem;
}
