
.sign-in, h2 {
  width: 50vw;
  margin-top: 1rem;
}

.sign-in {
  background-color: white;
}

h2 {
  width: 100%;
}

a.btn {
  font-size: 1.2rem;
}

.btn-sign-in {
  font-size: 1.2rem;
}

.container.sign-in {
  width: 35%;
  padding: 20px;
}