<footer class="footer mt-3 p-3 custom-footer bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-2 text-muted text-center small-xl">
        Connect with Schoolgoal
          <ul class="list-inline social social-sm">
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</footer>
