<footer class="py-6">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 text-muted text-center small-xl">
        Schoolgoal - Not to be confused with Schoolgle (in fact we don't appreciate them very much
          <ul class="list-inline social social-sm">
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</footer>
