<div
  class="jumbotron jumbotron-fluid m-0 bg-transparent text-center d-flex flex-column justify-content-center align-items-center">
  <h1 class="display-4 custom-font">schoolgoal</h1>
  <%= link_to "Our courses", courses_path, class: "btn btn-custom" %>
</div>
<br>
</div>
<div class="pt-6 pb-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <h3 class="heading-black">SchoolGoal is an accesible solution to at home learning.</h3>
        <p class="text-muted lead">You can now acces the best teachers from around the world from your cell phone or
          computer.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 mx-auto">
        <div class="row feature-boxes">
          <div class="col-md-6 box">
            <div class="icon-box box-primary">
              <div class="icon-box-inner">
                <span data-feather="edit-3" width="35" height="35"></span>
              </div>
            </div>
            <h5>Freedom of Choice</h5>
            <p class="text-muted lead">Choose your own teachers based on their credentials, location, and teaching
              style.</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-success">
              <div class="icon-box-inner">
                <span data-feather="monitor" width="35" height="35"></span>
              </div>
            </div>
            <h5>Pesonalize your experience</h5>
            <p class="text-muted lead">Communicate your teaching style and needs with comprehensive and culturally
              responsive feedback.</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-danger">
              <div class="icon-box-inner">
                <span data-feather="layout" width="35" height="35"></span>
              </div>
            </div>
            <h5>Design your own courses.</h5>
            <p class="text-muted lead">As a teacher you can teach required courses and design.</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-info">
              <div class="icon-box-inner">
                <span data-feather="globe" width="35" height="35"></span>
              </div>
            </div>
            <h5>Be your own boss</h5>
            <p class="text-muted lead">Create your own schedule and utilize own pedagogical style with feedback from
              students.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-6 mr-auto">
      </div>
    </div>
  </div>
</div>