<div class="container m-0 p-0">
  <div class="jumbotron jumbotron-fluid m-0 bg-transparent text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4">SchoolGoal</h1>
    <%= link_to "Our courses", courses_path, class: "btn btn-success" %>
  </div>
  <!-- <div class="row vh-md-100">
    <div class="col-md-8 col-sm-10 col-12 mx-auto text-center">
      <h1 class="heading-black">SchoolGoal</h1>
      <p class="lead py-3">Find a teacher that meets your needs.</p>
      <button class="btn btn-primary d-inline-flex flex-row align-items-center">Search Now<em
          data-feather="arrow-right"></em>
      </button>
    </div>
  </div> -->
</div>
<br>
</div>
<div class="pt-6 pb-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <h3 class="heading-black">SchoolGoal will change your life.</h3>
        <p class="text-muted lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in nisi
          commodo, tempus odio a, vestibulum nibh.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 mx-auto">
        <div class="row feature-boxes">
          <div class="col-md-6 box">
            <div class="icon-box box-primary">
              <div class="icon-box-inner">
                <span data-feather="edit-3" width="35" height="35"></span>
              </div>
            </div>
            <h5>Choose your own teacher based on their credentials, location, and teaching style</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in
              nisi commodo, tempus odio a, vestibulum nibh.</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-success">
              <div class="icon-box-inner">
                <span data-feather="monitor" width="35" height="35"></span>
              </div>
            </div>
            <h5>Communicate your teaching style and needs.</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in
              nisi commodo, tempus odio a, vestibulum nibh.</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-danger">
              <div class="icon-box-inner">
                <span data-feather="layout" width="35" height="35"></span>
              </div>
            </div>
            <h5>Design your own courses.</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in
              nisi commodo, tempus odio a, vestibulum nibh.</p>
          </div>
          <div class="col-md-6 box">
            <div class="icon-box box-info">
              <div class="icon-box-inner">
                <span data-feather="globe" width="35" height="35"></span>
              </div>
            </div>
            <h5>Lea</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in
              nisi commodo, tempus odio a, vestibulum nibh.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-6 mr-auto">
        <h2>SchoolGoal is an equitabla and accessible learning environment.</h2>
        <p class="mb-5" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
          pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus placerat eros.</p>
        <a href="#" class="btn btn-light"></a>
      </div>
      <div class="col-md-5">
        <div class="slick-about">
          <img
            src="https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2004&q=80"
            class="img-fluid rounded d-block mx-auto"
            alt="A photo of a school that is trying not to make school look sad." />
          <div class="row">
            <div class="col-sm-5 mr-auto">
              <h5>About Schoolgoal</h5>
              <p class="text-muted">Magnis modipsae que voloratati.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>