.btn-custom {
  background-color: $wave-blue;
  color: white;
}

#btn-signin {
  width: 33%;
}

.btn-signin {
  border-radius: 40px;
}

.color-white {
  color: white;
}

.btn-index-card {
  z-index: 1;
}
